# imagens do dataset (vao no zip da entrega, nao no Git)
dataset/raw/**/*.jpg
dataset/raw/**/*.jpeg
dataset/raw/**/*.png
dataset/export/**/*.jpg
dataset/export/**/*.jpeg
dataset/export/**/*.png
dataset/export/**/*.txt
evidencias/*.png
evidencias/*.jpg
evidencias/*.mp4

# build
.pio/
.vscode/.browse*
*.zip

# python
__pycache__/
*.pyc
.venv/
